<div>
  <div class="bg-image"></div>
  <div class="container">
    <div id="phone">
      <div id="content-wrapper">
        <div [ngClass]="{'card': true, 'hidden': !isLoginVisible}" id="login">
          <form (ngSubmit)="handleLogin()">
            <h1>로그인</h1>
            <div class="input" [ngClass]="{'active': isEmailFocused || email}"> <input id="email" type="email"
                [(ngModel)]="email" name="email" (focus)="focusInput('email')" (blur)="blurInput('email')"> <label
                for="email">이메일</label> </div>
            <div class="input" [ngClass]="{'active': isPasswordFocused || password}"> <input id="password"
                type="password" [(ngModel)]="password" name="password" (focus)="focusInput('password')"
                (blur)="blurInput('password')"> <label for="password">비밀번호</label> </div> <span
              class="checkbox remember"> <input type="checkbox" id="remember" [(ngModel)]="rememberMe"
                name="rememberMe"> <label for="remember" class="read-text">로그인 정보 저장</label> </span> <span
              class="checkbox forgot"> <a href="#">비밀번호를 잊으셨습니까?</a> </span> <button
              [disabled]="!isLoginFormValid">로그인</button>
          </form> <a href="javascript:void(0)" class="account-check" (click)="toggleCard()">계정이 이미 있으십니까? <b>로그인</b></a>
        </div>
        <div [ngClass]="{'card': true, 'hidden': isLoginVisible}" id="register">
          <form (ngSubmit)="handleRegister()">
            <h1>회원가입</h1>
            <div class="input" [ngClass]="{'active': isRegisterEmailFocused || registerEmail}"> <input
                id="register-email" type="email" [(ngModel)]="registerEmail" name="registerEmail"
                (focus)="focusInput('registerEmail')" (blur)="blurInput('registerEmail')"> <label
                for="register-email">Email</label> </div>
            <div class="input" [ngClass]="{'active': isRegisterPasswordFocused || registerPassword}"> <input
                id="register-password" type="password" [(ngModel)]="registerPassword" name="registerPassword"
                (focus)="focusInput('registerPassword')" (blur)="blurInput('registerPassword')"> <label
                for="register-password">Password</label> </div>
            <div class="input" [ngClass]="{'active': isConfirmPasswordFocused || confirmPassword}"> <input
                id="confirm-password" type="password" [(ngModel)]="confirmPassword" name="confirmPassword"
                (focus)="focusInput('confirmPassword')" (blur)="blurInput('confirmPassword')"> <label
                for="confirm-password">Confirm Password</label> </div> <span class="checkbox remember"> <input
                type="checkbox" id="terms" [(ngModel)]="acceptTerms" name="acceptTerms"> <label for="terms"
                class="read-text">위 내용을 확인했으며,<b> 필수 약관에 동의합니다.</b></label> </span> <button
              [disabled]="!isRegisterFormValid">가입하기</button>
          </form> <a href="javascript:void(0)" id="gotologin" class="account-check" (click)="toggleCard()">계정이 없으십니까?
            <b>회원가입</b></a>
        </div>
      </div>
    </div>
  </div>
</div>